name: tests

on:
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - develop
      - main
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      # 1. Configure git safe directory (if needed here)
      - name: Configure git safe directory
        run: git config --global --add safe.directory $GITHUB_WORKSPACE

      # 2. Install PHP & extensions
      - name: Install PHP extensions
        run: |
          sudo apt-get update
          sudo apt-get install -y php8.3-cli php8.3-mbstring php8.3-sqlite3 unzip git curl

      # 3. Install Node.js & npm
      - name: Install Node.js
        run: |
          curl -fsSL https://deb.nodesource.com/setup_20.x | sudo -E bash -
          sudo apt-get install -y nodejs

      # 4. Composer install
      - name: Install Composer dependencies
        run: COMPOSER_ALLOW_SUPERUSER=1 composer install --no-interaction --prefer-dist --optimize-autoloader

      # 5. NPM install & build
      - name: NPM Install & Build
        run: npm install && npm run build

  deploy:
    needs: ci
    if: github.ref == 'refs/heads/main' # Only deploy from main branch
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy to DigitalOcean
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.DO_HOST }}
          username: ${{ secrets.DO_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: '.'
          target: '/var/www/royalpackaging'

      - name: Run post-deploy commands (on server)
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.DO_HOST }}
          username: ${{ secrets.DO_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |

            git config --global --add safe.directory /var/www/royalpackaging


            sudo apt-get update
            sudo apt-get install -y php8.3-cli php8.3-mbstring php8.3-sqlite3 php8.3-mysql unzip git curl php8.3-fpm

            curl -fsSL https://deb.nodesource.com/setup_20.x | sudo -E bash -
            sudo apt-get install -y nodejs

            cd /var/www/royalpackaging
            git pull origin main || true
            COMPOSER_ALLOW_SUPERUSER=1 composer install --no-interaction --prefer-dist --optimize-autoloader
            npm ci --production
            php artisan migrate --force
            php artisan config:cache
            php artisan route:cache
            php artisan view:cache
            sudo service php8.3-fpm reload
            sudo systemctl reload nginx

            npm install
            npm run build
