name: tests

on:
  push:
    branches:
      - develop
      - main
  pull_request:
    branches:
      - develop
      - main
jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP 8.3 for tests
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: mbstring, php8.2-mbstring, intl, pdo_mysql, pdo_sqlite, sqlite3, bcmath, zip, curl, dom, fileinfo
          tools: composer:v2

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: Install Node Dependencies
        run: npm ci

      - name: Install Dependencies
        run: COMPOSER_ALLOW_SUPERUSER=1 composer install --no-interaction --prefer-dist --optimize-autoloader

      - name: Validate Composer Lock
        run: composer check-platform-reqs

      - name: Build Assets
        run: npm run build

      - name: Copy Environment File
        run: cp .env.example .env

      - name: Generate Application Key
        run: php artisan key:generate

      - name: Tests
        run: ./vendor/bin/pest

  deploy:
    needs: ci
    if: github.ref == 'refs/heads/main' # Only deploy from main branch
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy to DigitalOcean
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.DO_HOST }}
          username: ${{ secrets.DO_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          source: '.'
          target: '/var/www/royalpackaging'

      - name: Setup PHP 8.3 for deploy
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          extensions: mbstring, php8.2-mbstring, intl, pdo_mysql, pdo_sqlite, sqlite3, bcmath, zip, curl, dom, fileinfo
          tools: composer:v2

      - name: Run post-deploy commands (on server)
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.DO_HOST }}
          username: ${{ secrets.DO_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |

            git config --global --add safe.directory /var/www/royalpackaging

            curl -sS https://getcomposer.org/installer | php
            sudo mv composer.phar /usr/local/bin/composer

            curl -fsSL https://deb.nodesource.com/setup_20.x | sudo -E bash -
            sudo apt-get update -y
            sudo apt-get install -y nodejs

            cd /var/www/royalpackaging
            git pull origin main || true
            COMPOSER_ALLOW_SUPERUSER=1 composer install --no-interaction --prefer-dist --optimize-autoloader
            npm ci --production
            cp .env.example .env
            php artisan migrate --force
            php artisan config:cache
            php artisan route:cache
            php artisan view:cache

            npm install
            npm run build

            sudo systemctl reload nginx
            sudo systemctl restart php8.3-fpm
            sudo service php8.3-fpm reload
